{{#partial "content"}}
    <div class="container">
        <h3>YOU ARE SUCCESSFUL LOGGED IN THE FOLLOWING DEPARTMENT </h3>

        <h3>Name:{{dname}}</h3>
        <p>Numbers of Employees:{{person_assigned}}</p>



        <!--        <a href="#" class="badge badge-success">Success</a>-->

        <a href="/news-new" class="badge badge-success">post news</a>&nbsp,&nbsp,&nbsp,
        <a href="/user-new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">CREATE A USER</a>


    </div>



{{/partial}}
{{>layout.hbs}}