{{# partial "content"}}
    <div class="container">

        <h2><b>The departments:</b></h2>




        <div class="jumbtron">
            <h3>THE UPDATES NEWS</h3>
            {{# Foreach}}



            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><stron>TITLE:</stron>{{big_title}}</h5>
                    <p class="card-text"><strong>CONTENT:</strong>{{contnet}}</p>
                    <p><span class="badge badge-success">{{views}}Views</span></p>
                    <!--                   <p class="card-text"><small class="text-muted"></small></p>-->
                </div>
            {{/Foreach}}
        </div>
        </div>
    </div>


{{/partial}}
{{>layout.hbs}}